# Privy (required for login + Solana wallets)
NEXT_PUBLIC_PRIVY_APP_ID=cmqt76oza019h0ck6296p44a8

# Solana (optional)
# NEXT_PUBLIC_SOLANA_CLUSTER=devnet
# NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
